# Node
node_modules/
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# TypeORM
ormconfig.js
ormconfig.json
ormconfig.ts

# Docker
pgdata/

# Build
/dist
/build

# VSCode
.vscode/

# Misc
*.sqlite
.idea/ 